h2{
    text-align: center;
}
main{
    margin-left: 15%;
    margin-right: 15%;
}
textarea{
    margin-bottom: 20px !important;
}
.buttons{
    margin-top: 25px !important;
    margin-left: 33.3%;
    margin-right: 33.3%;
}