body{
    margin-top: 10% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}
div{
    margin-top: 5px;
    margin-bottom: 5px;
}
button{
    margin: 1% !important;
}
ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}